// Cards
.card {
  background: $bg-color-light;
  //border: $border-width solid $border-color;
  border-radius: $custom-card-border-radius;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 15px rgba(0,0,0,.3);
  
  .card-header,
  .card-body,
  .card-footer {
    padding: $layout-spacing-lg;
    padding-bottom: 0;
    
    &:last-child {
      padding-bottom: $layout-spacing-lg;
    }
  }

  .card-body {
    flex: 1 1 auto;
  }

  .card-image {
    padding-top: $layout-spacing-lg;
    overflow: hidden;
    
    img {
      transition: transform .2s ease;
    }
    
    .img-aspect {
      transition: transform .2s ease;
      height: 0;
      padding-top: 75%;
    }
    
    &:first-child {
      padding-top: 0;
      border-top-left-radius: $custom-card-border-radius;
      border-top-right-radius: $custom-card-border-radius;

      img, .img-aspect {
        border-top-left-radius: $custom-card-border-radius;
        border-top-right-radius: $custom-card-border-radius;
      }
    }

    &:last-child {
      img, .img-aspect {
        border-bottom-left-radius: $custom-card-border-radius;
        border-bottom-right-radius: $custom-card-border-radius;
      }
    }
  }
  
  .card-subtitle {
    color: #bcc3ce;
    font-style: italic;
  }
  
  &:hover .card-image .hover-zoom {
    transform: scale(1.05);
  }
  
  img {
    padding-top: $layout-spacing-lg;

    &:first-child {
      padding-top: 0;
      border-top-left-radius: $custom-card-border-radius;
      border-top-right-radius: $custom-card-border-radius;
    }

    &:last-child {
      border-bottom-left-radius: $custom-card-border-radius;
      border-bottom-right-radius: $custom-card-border-radius;
    }
  }
  

}
